<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.gky.data.dao.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="pers.gky.data.entity.Product">
        <id column="id" property="id" />
        <result column="create_at" property="createAt" />
        <result column="img" property="img" />
        <result column="is_open_locate" property="isOpenLocate" />
        <result column="keep_alive_time" property="keepAliveTime" />
        <result column="locate_update_type" property="locateUpdateType" />
        <result column="name" property="name" />
        <result column="node_type" property="nodeType" />
        <result column="product_key" property="productKey" />
        <result column="product_secret" property="productSecret" />
        <result column="tenant_id" property="tenantId" />
        <result column="transparent" property="transparent" />
        <result column="uid" property="uid" />
    </resultMap>

</mapper>
