<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.gky.manager.dao.DeviceGroupMappingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="pers.gky.manager.model.entity.DeviceGroupMapping">
        <id column="id" property="id" />
        <result column="device_id" property="deviceId" />
        <result column="group_id" property="groupId" />
    </resultMap>

</mapper>
